@model Billing.Models.ViewModel.PartyDetailsBill


<script src="~/Scripts/jquery-1.10.2.min.js"></script>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    @*<div class="form-horizontal">*@
        <h4>Party Details :</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.CompanyName)*@
                @Html.DropDownListFor(model=> model.CompanyName, Model.CompanyName,"Select Company")
                @Html.ValidationMessageFor(model => model.CompanyName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MobileNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MobileNo)
                @Html.ValidationMessageFor(model => model.MobileNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GSTN_Number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GSTN_Number)
                @Html.ValidationMessageFor(model => model.GSTN_Number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PanNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PanNo)
                @Html.ValidationMessageFor(model => model.PanNo)
            </div>
        </div>

        
    @*</div>*@
}

<script type="text/javascript">
    $(function(ready)
    {
        $('#CompanyName').change(function()
        {
            var comapnyName = $('#CompanyName').val();
            var data1 = { "companyName": comapnyName };
            //var url = "http://localhost:8080/Bill/GetPartyDetails";
            //$.post(url, data1, function (data) {
            //    //alert(data);
            //    alert(data);
            //    $("#Address").val(data.Address);
            //})
            $.ajax(
                {
                    url : '/Bill/GetPartyDetails',
                    data: data1,
                    dataType: "json",
                    type: 'get',
                    error: function()
                    {
                        alert("An error occured!!")
                    },
                    success:function(data)
                    {
                        $('#Address').val(data.Address);
                        $('#MobileNo').val(data.MobileNo);
                        $('#GSTN_Number').val(data.GSTN_Number);
                        $('#PanNo').val(data.PanNo);
                    }

                })

        })

    })
</script>