<!DOCTYPE html>
<html>
@{
    ViewBag.Title = "Manufacturing";
}



<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<link href="~/Scripts/dist/css/bootstrap-theme.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    
    <style>
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button1 {
            border-radius: 2px;
        }

        .button2 {
            border-radius: 4px;
        }

        .button3 {
            border-radius: 8px;
        }

        .button4 {
            border-radius: 12px;
        }

        .button5 {
            border-radius: 50%;
        }
    </style>
</head>
<body>

    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.Label("Enter Manufacturing Details :")
        <div class="form-group">
            @Html.Label("Board or Paper Cost", new { @class = "col-md-12" })
            <div class="col-md-12">
                @Html.TextBox("BC")
                @Html.ValidationMessage("BC")
            </div>

            @Html.Label("Printing Cost", new { @class = "col-md-12" })
            <div class="col-md-2">
                @Html.TextBox("PC")
                @Html.ValidationMessage("PC")
            </div>
            <!--Start : Region added for printing charge pop-up-->
            @*<a data-toggle="modal" href="#mymodal" class="btn btn-primary btn-lg" id="printingCharge">Launch demo modal</a>*@
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Calculate Printing Charge</button>
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">CalculatePrinting Charge</h4>
                        </div>
                        <div class="modal-body">
                            @Html.Partial("Partial_PaulOffset");
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <!--End : Region added for printing charge pop-up-->
            @Html.Label("Lamination Cost", new { @class = "col-md-12" })
            <div class="col-md-12">
                @Html.TextBox("LC")
                @Html.ValidationMessage("LC")
            </div>
            @*</div>
                <div class="form-group">*@
            @Html.Label("Punching Cost", new { @class = "col-md-12" })
            <div class="col-md-12">
                @Html.Editor("PunC")
                @Html.ValidationMessage("PunC")
            </div>
            @*</div>
                <div class="form-group">*@

            @Html.Label("Total", new { @class = "col-md-12" })
            <div class="col-md-12">
                @Html.Editor("Total")
                @Html.ValidationMessage("Total")
            </div>
            
        </div>
    </div>

</body>
</html>

<script type="text/javascript">
    $(function(ready)
    {
        $("#PunC").change(function () {
            var BC = $('#BC').val();
            var PC = $('#PC').val();
            var LC = $('#LC').val();
            var PunC = $('#PunC').val();
            //var BC = $('#BC').val();
            var total = (BC+PC+LC+PunC) * (1.0 + (12 / 100));
            $("#Total").val(total);
        });

        //$('#AddParty').click(function (ready) {
        //    $('#formHiddenParty').show();
        //    alert('yo');
        //    $.ajax(
        //        {
        //            url: 'http://localhost:8080/Bill/AddPartyDetailsBill',
        //            contentType: 'application/html;charset=utf-8',
        //            type: 'Get',
        //            dataType: 'html'
        //        }).success(function (result) {
        //            $('#PlaceAddParty').html(result);
        //        }).error(function (xhr, status) {
        //            alert(status);
        //        })


        //});
    })
</script>